<h1>{{title}}</h1>
<div class="row col-md-12">

<form class="form-horizonthal" method="POST" action="{{form_action}}" id="formAddUser">
    <input type="hidden" name="id" value="{{user._id}}" />
    <input  type="hidden" name="lat" id="lat" value="{{user.lat}}" />
    <input  type="hidden" name="lon" id="lon" value="{{user.lon}}"/>
    
    <div class="form-group">
      <label for="nameField" class="col-xs-2">Nom</label>
      <div class="col-xs-10">
    <input type="text" class="form-control" id="nameField" name="name" placeholder="nom" value="{{user.name}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="firstNameField" class="col-xs-2">Prenom</label>
      <div class="col-xs-10">
    <input type="text" class="form-control" id="firstNameField" name="firstName" placeholder="prenom" value="{{user.firstName}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="loginField" class="col-xs-2">login</label>
      <div class="col-xs-10">
    <input type="text" class="form-control" id="loginField" name="login" placeholder="login" value="{{user.login}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="mdpField" class="col-xs-2">mdp</label>
      <div class="col-xs-10">
    <input type="password" class="form-control" id="mdpField" name="mdp" placeholder="mdp" value="{{user.mdp}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="functionField" class="col-xs-2">Function</label>
      <div class="col-xs-10">
      <input type="text" class="form-control" id="functionField" name="function" placeholder="fonction" value="{{user.function}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="officeField" class="col-xs-2">Office</label>
      <div class="col-xs-10">
    <input type="text" class="form-control" id="officeField" name="office" placeholder="office" value="{{user.office}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="date_naissField" class="col-xs-2">Date de naissance</label>
      <div class="col-xs-10">
    <input type="text" class="form-control" id="date_naissField" name="date_naiss" placeholder="date de naissance" value="{{user.date_naiss}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="mailField" class="col-xs-2">mail</label>
      <div class="col-xs-10">
   <input type="text" class="form-control" id="mailField" name="mail" placeholder="mail" value="{{user.mail}}" /><br/>
    </div>
    </div>
    
    <div class="form-group">
      <label for="adresseField" class="col-xs-2">adresse</label>
      <div class="col-xs-10">
      <input type="text" class="form-control" id="adresseField" name="adresse" placeholder="adresse" value="{{user.adresse}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="cpField" class="col-xs-2">cp</label>
      <div class="col-xs-10">
    <input type="text" class="form-control" id="cpField" name="cp" placeholder="cp" value="{{user.cp}}" /><br/>
    </div>
    </div>
    
    <div class="form-group">
      <label for="cityField" class="col-xs-2">Ville</label>
      <div class="col-xs-10">
      <input type="text" class="form-control" id="cityField" name="city" placeholder="ville" value="{{user.city}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="mobil_phoneField" class="col-xs-2">tel mobile</label>
      <div class="col-xs-10">
     <input type="text" class="form-control" id="mobil_phoneField" name="mobil_phone" placeholder="mobile_phone" value="{{user.mobil_phone}}" /><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="home_phoneField" class="col-xs-2">tél domicile</label>
      <div class="col-xs-10">
     <input type="text" class="form-control" id="home_phoneField" name="home_phone" placeholder="tel domicile" value="{{user.home_phone}}" /><br/>
    </div>
    </div>
    <button class="btn btn-primary" type="submit" disabled id="submit">Confirmer la {{libelle}}</button>
</form>
</div>
<!-- Script de validation du formulaire de modification -->
<script>
    var form = document.getElementById('formAddUser');
    form.addEventListener('submit', function(evt) {
        form.action += "/{{user._id}}";
        form.submit();
    });
  var addr=form.adresse.value;
  addr=addr.toLowerCase()
  addr = addr.split(' ').join('+');
  var city=form.city.value;
  city=city.toLowerCase()
  city=city.split(' ').join('+');
  var info=addr+','+city;
    console.log(info);
</script>


<script>
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        myFunction(this);
    }
};
xhttp.open("GET", "http://nominatim.openstreetmap.org/search?q="+info+"&format=json&polygon=1&addressdetails=1", true);
xhttp.send();

function myFunction(json) {
	document.getElementById("submit").disabled=false;
    var jsonDoc = JSON.parse(json.responseText);
    console.log(jsonDoc[0].lat);
    console.log(jsonDoc[0].lon);
    var lat=Number(jsonDoc[0].lat);
    var lon=Number(jsonDoc[0].lon);

    document.getElementById('lat').value=lat;
    document.getElementById('lon').value=lon;
}
</script>
