<h1>{{title}}</h1>
<div class=row col-md-12>

<form  class="form-horizonthal" methode="POST" action="{{form_action}}" id="formAddCenter">
    <input type="hidden" name="id" value="{{centre._id}}" />
    <input  type="hidden" name="lat" id="lat" value="{{centre.lat}}" />
    <input  type="hidden" name="lon" id="lon" value="{{centre.lon}}"/>
    <div class="form-group">
      <label for="libelleField" class="col-xs-2">Nom</label>
      <div class="col-xs-10">
		<input class="form-control" id="libelleNom" placeholder="nom du centre" type="text" name="nom" value="{{centre.nom}}" /><br/>
	  </div>
    </div>
    <div class="form-group">
      <label for="libelleField" class="col-xs-2">adresse</label>
      <div class="col-xs-10">
       <input type="text" name="adresse" value="{{centre.adresse}}" class="form-control" id="adresseField" name="adresse" placeholder="adresse du centre" /><br/>
     </div>
    </div>
    <div class="form-group">
      <label for="libelleField" class="col-xs-2">cp</label>
      <div class="col-xs-10">
		<input type="text" value="{{centre.cp}}" class="form-control" id="cpField" name="cp" placeholder="cp"/><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="libelleField" class="col-xs-2">ville</label>
      <div class="col-xs-10">
		<input type="text"  value="{{centre.city}}" class="form-control" id="villeField" name="ville" placeholder="ville"/><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="libelleField" class="col-xs-2">téléphone</label>
      <div class="col-xs-10">
         <input type="text"  value="{{centre.home_phone}}" class="form-control" id="telephoneField" name="télephone" placeholder="telephone"/><br/>
          </div>
    </div>
    <div class="form-group">
      <label for="libelleField" class="col-xs-2">mail</label>
      <div class="col-xs-10">
       <input type="text"  value="{{centre.mail}}" class="form-control" id="mailField" name="mail" placeholder="mail" /><br/>
       </div>
    </div>
    
        <button type="submit" class="btn btn-primary" />Confirmer la {{libelle}}</button>
		
</form>
</div>
<!-- Script de validation du formulaire de modification -->
<script>
    var form = document.getElementById('formAddCenter');
    console.log(form.action);
    form.addEventListener('submit', function(evt) {
        form.action += "/{{centre._id}}";
        form.submit();
    });
  var addr=form.adresse.value;
  addr=addr.toLowerCase()
  addr = addr.split(' ').join('+');
  var city=form.city.value;
  city=city.toLowerCase()
  city=city.split(' ').join('+');
  var info=addr+','+city;
    console.log(info);
</script>


<script>
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        myFunction(this);
    }
};
xhttp.open("GET", "http://nominatim.openstreetmap.org/search?q="+info+"&format=json&polygon=1&addressdetails=1", true);
xhttp.send();

function myFunction(json) {
    var jsonDoc = JSON.parse(json.responseText);
    console.log(jsonDoc[0].lat);
    console.log(jsonDoc[0].lon);
    var lat=Number(jsonDoc[0].lat);
    var lon=Number(jsonDoc[0].lon);

    document.getElementById('lat').value=lat;
    document.getElementById('lon').value=lon;
}
</script>
