<div class="conteneur">
    <div class="alert alert-success">
<h1>{{title}}</h1>
</div>
<ul>
    <li>nom :.......................... {{formateur.nom}}</li><br/>
    <li>prenom :..................... {{formateur.prenom}}</li><br/>
    <li>statut :......................... {{formateur.statut}}</li><br/>
    <li>prix_jour :........................... {{formateur.prix_jour}}</li><br/>

</ul>
</div>
