    <div class="alert alert-success">
<h1>{{title}}</h1>
</div>
<ul>
    <li>nom :.......................... {{centre.nom}}</li><br/>
    <li>adresse :..................... {{centre.adresse}}</li><br/>
    <li>adresse :...................... {{centre.adresse}}</li><br/>
    <li>cp :............................ {{centre.cp}}</li><br/>
    <li>city :............................ {{centre.city}}</li><br/>
    <li>tél :............................ {{centre.home_phone}}</li><br/>
    <li>mail :.................... {{centre.mail}}</li><br/>
</ul>
